:root {
    --accentColor: #FFCD48;
    --lightColor: rgb(255, 255, 255);
    --burgerMenu: #000;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",
        sans-serif;

    /** NEW START **/
    .menuOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        opacity: 0;

        .menuSlideOne {
            width: 50%;
            height: 100%;
            background: rgb(17, 17, 17);

            img {
                position: absolute;
                height: 80px;
                margin: 2em 0 0 3em;
                opacity: .4;
            }

            .menuFlexContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                h1 {
                    color: var(--lightColor);
                    font-size: 1vw;
                    letter-spacing: 0.3em;
                    margin: 0 14vw 0 1vw;
                    opacity: 0;
                    transform: translatex(-100px);
                }

                ul {
                    color: var(--lightColor);
                    list-style: none;
                    font-size: 3vw;

                    li {
                        line-height: 1.5em;
                        font-weight: bold;
                        transform: translatey(-100px);
                    }

                    span {
                        color: #686868;
                        font-weight: 100;
                    }
                }
            }
        }

        .menuSlideTwo {
            width: 50%;
            height: 100%;
            background: #1f1a0e;
            position: relative;

            .officeFlexContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                h1 {
                    color: var(--lightColor);
                    font-size: 1vw;
                    transform: translatex(-100px);
                    margin: -4vw 21vw 0 0;
                    letter-spacing: 0.3em;
                    opacity: 0;
                }

                .menuProjectsSlider {
                    opacity: 0;
                    display: none;
                    max-width: 24vw;
                }
            }
        }
    }

    /** BURGER MENU **/
    .burgerMenuWrapper {
        position: fixed;
        right: 4em;
        top: 1em;
        font-family: "Roboto", Arial, sans-serif;
        z-index: 3;

        .burgerMenu {
            color: var(--lightColor);
            width: 36px;
            height: 36px;
            padding: 0;
            margin: 0;
            outline: none;
            position: relative;
            border: none;
            background: none;
            cursor: pointer;
            -webkit-appearence: none;
            -webkit-tap-highlight-color: transparent;

            svg {
                height: 74px;
                stroke: var(--lightColor);
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
                fill: none;
                display: block;
                position: absolute;

                path {
                    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s),
                        stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
                    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
                    stroke-dashoffset: var(--offset, 126px);
                    transform: translateZ(0);

                    &:nth-child(2) {
                        --duration: 0.7s;
                        --easing: ease-in;
                        --offset: 100px;
                        --array-2: 74px;
                        transform: scalex(80%) translateX(12px) translateY(-2px);
                    }

                    &:nth-child(3) {
                        --offset: 133px;
                        --array-2: 107px;
                        transform: scalex(50%) translateX(47px) translateY(-4px);
                    }
                }
            }

            &.active {
                svg {
                    path {
                        --offset: 57px;

                        &:nth-child(1),
                        &:nth-child(3) {
                            --delay: 0.15s;
                            --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
                        }

                        &:nth-child(2) {
                            --duration: 0.4s;
                            --offset: 1px;
                            --array-1: 1px;
                            transform: scalex(100%) translateX(0) translateY(-2px);
                        }

                        &:nth-child(3) {
                            --offset: 58px;
                            transform: scalex(100%) translateX(0px) translateY(-4px);
                        }
                    }
                }
            }
        }
    }

    /** NEW END **/
    .wrapper {
        background: transparent linear-gradient(119deg, #111111 0%, #292929 100%) 0% 0% no-repeat padding-box;

        /* NAVIGATION */
        nav {
            position: fixed;
            width: 100%;

            .logoContainer {
                img {
                    height: 80px;
                    margin: 2em 0 0 3em;
                }

                .logoLine {
                    width: 100px;
                    height: 1px;
                    background-color: var(--lightColor);
                    transform: rotate(90deg);
                    position: relative;
                    top: 55px;
                    left: 44px;

                    span {
                        font-weight: 400;
                        font-size: .7em;
                        position: relative;
                        display: block;
                        left: 70px;
                        bottom: 6px;
                        width: 130px;
                        color: var(--lightColor);
                        transform: rotate(180deg);
                    }
                }
            }

            .ctaBtn {
                button {
                    position: absolute;
                    right: 12em;
                    top: 4.5em;
                    background-color: transparent;
                    border: none;
                    color: var(--lightColor);
                    text-transform: uppercase;
                    cursor: pointer;
                }

                .ctaLine {
                    position: absolute;
                    right: 10.2em;
                    top: 5em;
                    width: 5em;
                    height: 1px;
                    background-color: var(--lightColor);
                }
            }
        }

        /* SECTION ONE */
        .section1 {
            width: 100%;
            height: 100vh;
            margin-bottom: 250px;

            .bcgStructureOne {
                position: absolute;
            }

            .socialsContainer {
                position: absolute;
                bottom: 4em;
                left: 2.3em;
                display: flex;
                flex-direction: column;

                ul {
                    list-style: none;
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    li a .fas,
                    li a .fab {
                        font-size: 1.3em;
                        margin-bottom: 1em;
                    }

                    a {
                        color: var(--lightColor);
                    }

                    li {
                        position: relative;
                        margin: 0 10px;
                        cursor: pointer;

                        a .fas:hover,
                        a .fab:hover {
                            opacity: 0;
                            transition: opacity 0.6s ease-in;
                        }

                        &:before {
                            position: absolute;
                            font-family: FontAwesome;
                            top: -1px;
                            left: 0;
                            font-size: 1.3em;
                            width: 100%;
                            height: 0;
                            overflow: hidden;
                            transition: 0.6s ease-in-out;
                        }

                        &:nth-child(1)::before {
                            content: "\f1fa";
                            color: var(--accentColor);
                        }

                        &:nth-child(2)::before {
                            content: "\f0e1";
                            color: var(--accentColor);
                        }

                        &:nth-child(3)::before {
                            content: "\f4f9";
                            color: var(--accentColor);
                        }

                        &:hover:before {
                            height: 110%;
                        }
                    }
                }
            }

            .heroWrapper {

                img {
                    height: 100vh;
                }
            }
        }

        .section2 {
            max-width: 1500px;
            margin: auto auto 250px auto;
            // TODO position: relative;

            .headline {
                // TODO max-height: 75px;

                h1 {
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 100px;
                }
            }

            .serviceItemWrapper {
                display: flex;


                &>div {
                    width: 25%;
                    height: 400px;
                    margin: auto;
                }

                .serviceCircle {
                    width: 5vw;
                    height: 5vw;
                    border-radius: 50%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 60%;
                        margin: auto;
                    }
                }

                .serviceItemHeadline {
                    font-weight: bold;
                    text-align: center;
                    color: var(--lightColor);
                    font-family: 'Alata',
                        sans-serif;
                    font-size: 1.1vw;

                    span {
                        color: var(--accentColor);
                    }
                }

                .serviceItemDescription {
                    color: var(--lightColor);
                    font-size: 0.8vw;

                    p {
                        width: 12vw;
                        margin: auto;
                    }
                }
            }
        }

        .section3 {
            max-width: 1400px;
            margin: auto;
            position: relative;

            .headline {
                max-height: 75px;

                h1 {
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 120px;
                }
            }

            .portfolioGridWrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                //gap: 2em;


                .flipContent {
                    transition: transform 3s;
                    transform-style: preserve-3d;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        transform: rotatey(.5turn);
                    }

                    .flipFront,
                    .flipBack {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        backface-visibility: hidden;
                        transform-style: preserve-3d;
                    }

                    .flipFrontKreati,
                    .flipFrontLogoErgo {
                        background: #e0ffff;
                    }

                    .flipFrontAlpaka {
                        background: #fff;
                    }

                    .flipFrontPetersen,
                    .flipFrontCJ {
                        background: #fafad2;
                    }

                    .flipFrontGoodgrade {
                        background: #d8bfd8;
                    }

                    .flipFrontAeventyr {
                        background: #6bbd76;
                    }

                    .flipFrontKieninger {
                        background: #de6868;
                    }
                    

                    .flipFront {
                        position: relative;

                        img {
                            transform: translateZ(3rem);
                            max-width: 100%;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 1em;
                            right: 1em;
                            bottom: 1em;
                            left: 1em;
                        }
                    }

                    .flipBack {
                        transform: rotatey(.5turn);
                        background: transparent linear-gradient(119deg, #111111 100%, #292929 0%) 0% 0% no-repeat padding-box;
                        text-align: center;

                        span {
                            position: absolute;
                            left: 40%;
                            top: 10%;
                            transform: translate(-50%, -50%);
                            //top: 20px;
                            color: var(--lightColor);
                            opacity: 0.5;
                            font-size: 0.7rem;
                            transform: translateZ(3em);
                            backface-visibility: hidden;
                        }

                        img {
                            max-width: 100%;
                            transform: translateZ(3em);
                            backface-visibility: hidden;
                        }

                        p {
                            position: absolute;
                            left: 33%;
                            top: 12%;
                            transform: translate(-50%, -50%);
                           /*  bottom: 10px;
                            left: 110px; */
                            color: var(--lightColor);
                            font-weight: bold;
                            transform: translateZ(3em);
                            backface-visibility: hidden;
                            opacity: .6;
                            font-size: .7rem;
                        }
                    }
                }
            }
        }

        .section4 {
            max-width: 1500px;
            margin: 500px auto auto auto;
            overflow: hidden;

            .bcgStructureTwo {
                position: absolute;
            }

            .testimonialsWrapper {
                margin-top: 400px;

                .subtitle {
                    text-align: center;
                    color: var(--lightColor);
                    font-size: 1vw;
                    font-weight: 100;
                }

                .headline {
                    margin: 0;
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                }

                .testimonial {
                    margin-top: 3em;

                    .logoCircle {
                        width: 10vw;
                        height: 10vw;
                        border: 5px solid var(--accentColor);
                        border-radius: 50%;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--lightColor);

                        img {
                            width: 10vw;
                            background-size: cover;
                        }
                    }

                    .testimonialCompany {
                        margin: 1em 0 .5em 0;
                        text-align: center;
                        font-size: 2.5vw;
                        font-weight: bold;
                        color: var(--accentColor);
                    }

                    .testimonialDescription {
                        text-align: center;
                        max-width: 600px;
                        font-size: 1vw;
                        margin: auto;
                        color: var(--lightColor);
                    }
                }

                .btnWrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3em;

                    .left,
                    .right {
                        width: 2vw;
                        height: 2vw;
                        margin: 2em;
                        border-radius: 50%;
                        background: var(--accentColor);
                    }
                }
            }
        }

        .section5 {
            .contactFormWrapper {
                max-width: 1200px;
                margin: 300px auto auto auto;
                padding-bottom: 100px;


                .subtitle {
                    text-align: center;
                    color: var(--lightColor);
                    font-size: 1vw;
                    font-weight: 100;
                }

                .headline {
                    margin: 0;
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                }

                .contactForm {
                    margin-top: 100px;

                    form {
                        display: grid;
                        grid-template-areas:
                            "name company mail"
                            "radioBtn message messageEnd"
                            "empty1 btn empty2";
                        grid-template-columns: repeat(3, 1fr);
                    }

                    #formName {
                        grid-area: name;
                    }

                    #formCompany {
                        grid-area: company;
                    }

                    #formMail {
                        grid-area: mail;
                    }

                    #messageWrapper {
                        grid-column-start: message;
                        grid-column-end: messageEnd;
                    }

                    fieldset {
                        grid-area: radioBtn;
                    }

                    #formBtn {
                        grid-area: btn;

                        button {
                            width: 200px;
                            height: 40px;
                        }
                    }

                    .labelAbove,
                    .labelAbove input,
                    .labelAbove textarea {
                        display: block;
                        color: var(--lightColor);
                    }

                    .labelAbove textarea {
                        margin-top: 1em;
                    }

                    input[type="text"],
                    input[type="email"] {
                        background: transparent;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-bottom: .5px solid var(--accentColor);
                        width: 80%;
                        height: 30px;
                    }

                    #formMessage {
                        width: 90%;
                        height: 20vh;
                    }

                    fieldset {
                        border: none;
                        color: var(--lightColor);
                        width: 200px;

                        legend {
                            padding-top: 50px;
                            font-size: .8vw;
                            font-weight: bold;
                        }

                        label {
                            font-size: .7vw;
                        }
                    }
                }
            }
        }

        .footerWrapper {
            background: #000;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: var(--lightColor);
                padding-right: 1.5em;
                font-size: 1.3em;
            }

            .policyImprint {
                color: var(--lightColor);

                p {
                    float: right;
                    padding-right: 1em;
                }

            }
        }
    }
}