:root {
    --bcgColor: transparent linear-gradient(119deg, #111111 0%, #292929 100%) 0% 0% no-repeat padding-box;
    --accentColor: #FFCD48;
    --lightColor: rgb(255, 255, 255);
    --darkColor: #1f1f1f;
    --burgerMenu: #000;
    --mainFont: "Montserrat", sans-serif;
    --secondFont: 'Alata', sans-serif;
}

/* KEYFRAMES */
@keyframes rippleBtn {
    100% {
        transform: translate(-50%, -50%) scale(100);
        opacity: 0;
    }
}

@keyframes arrowAnimationRight {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes arrowAnimationLeft {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes animateSlider {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideSlide {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

// Cookie notice
.cookieConsent {
    position: fixed;
    background: rgba(0, 0, 0);
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    border-top: .1px solid var(--accentColor);

    img {
        float: right;
        position: relative;
        width: 5%;
        bottom: 60px;
        right: 10px;
    }

    p {
        text-align: center;
        position: relative;
        bottom: 5px;
        left: 30px;

        button {
            background: var(--accentColor);
            position: relative;
            left: 50px;
            bottom: 1.5px;
            width: 70px;
            border: none;
            color: var(--darkColor);
            font-weight: 900;
            font-size: .8em;
            cursor: pointer;
        }
    }
}

// LOADING SCREEN
.staggerAnimation {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;

    .staggerItem {
        background: #111111;
        height: 100vh;
        width: 16.6666667%;
        float: right;
    }
}

.animationBcg {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10;

    .startAnimationWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;

        svg {
            width: 15vw;
            fill: transparent;
            overflow: visible;
            z-index: 11;

            #CTop {
                stroke: white;
                stroke-width: 3px;
            }

            #CBottom {
                stroke: white;
                stroke-width: 3px;
            }

            #JTop {
                stroke: #ffcd48;
                stroke-width: 3px;
            }
        }
    }
}

/*HELPER CLASSES SLIDER*/
.moveInLeft,
.moveInRight {
    animation-name: animateSlider;
}

.moveOutLeft,
.moveOutRight {
    animation-name: hideSlide;
}

.active {
    opacity: 1;
}

/********************/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",
        sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;


    /** NEW START **/
    .menuOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        opacity: 0;

        .menuSlideOne {
            width: 50%;
            height: 100%;
            background: rgb(17, 17, 17);

            img {
                position: absolute;
                height: 80px;
                margin: 2em 0 0 3em;
                opacity: .4;
            }

            .menuFlexContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                h1 {
                    color: var(--lightColor);
                    font-size: 1vw;
                    letter-spacing: 0.3em;
                    margin: 0 14vw 0 1vw;
                    opacity: 0;
                    transform: translatex(-100px);
                }

                ul {
                    color: var(--lightColor);
                    list-style: none;
                    font-size: 3vw;

                    li {
                        line-height: 1.5em;
                        font-weight: bold;
                        transform: translatey(-100px);

                        a {
                            text-decoration: none;
                            color: var(--lightColor);
                        }
                    }

                    span {
                        color: #686868;
                        font-weight: 100;
                    }
                }
            }
        }

        .menuSlideTwo {
            width: 50%;
            height: 100%;
            background: #1f1a0e;
            position: relative;

            .officeFlexContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                h1 {
                    color: var(--lightColor);
                    font-size: 1vw;
                    transform: translatex(-100px);
                    margin: -4vw 21vw 0 0;
                    letter-spacing: 0.3em;
                    opacity: 0;
                }

                .menuProjectsSlider {
                    opacity: 0;
                    display: none;
                    max-width: 24vw;
                }
            }
        }
    }

    /** BURGER MENU **/
    .burgerMenuWrapper {
        position: fixed;
        //right: 4em;
        //top: 1em;
        font-family: "Roboto", Arial, sans-serif;
        z-index: 4;
        //top: 32px;
        right: 0;

        .burgerMenu {
            //display: inline-block;
            color: var(--lightColor);
            padding-top: 32px;
            margin: 0;
            outline: none;
            /* position: absolute;
            left: 0px; */
            border: none;
            background: transparent;
            border-radius: 0px 0px 0px 30px;
            cursor: pointer;
            /*  -webkit-appearence: none;
            -webkit-tap-highlight-color: transparent; */

            svg {
                height: 74px;
                stroke: var(--lightColor);
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
                fill: none;
                display: block;
                position: relative;

                path {
                    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s),
                        stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
                    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
                    stroke-dashoffset: var(--offset, 126px);
                    transform: translateZ(0);

                    &:nth-child(2) {
                        --duration: 0.7s;
                        --easing: ease-in;
                        --offset: 100px;
                        --array-2: 74px;
                        transform: scalex(0.8) translateX(12px) translateY(-2px);
                    }

                    &:nth-child(3) {
                        --offset: 133px;
                        --array-2: 107px;
                        transform: scalex(0.5) translateX(47px) translateY(-4px);
                    }
                }
            }

            &.active {
                svg {
                    path {
                        --offset: 57px;

                        &:nth-child(1),
                        &:nth-child(3) {
                            --delay: 0.15s;
                            --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
                        }

                        &:nth-child(2) {
                            --duration: 0.4s;
                            --offset: 1px;
                            --array-1: 1px;
                            transform: scalex(1) translateX(0) translateY(-2px);
                        }

                        &:nth-child(3) {
                            --offset: 58px;
                            transform: scalex(1) translateX(0px) translateY(-4px);
                        }
                    }
                }
            }
        }
    }

    /** NEW END **/
    .wrapper {
        background: var(--bcgColor);

        /* NAVIGATION */
        nav {
            position: relative;
            width: 100%;
            z-index: 3;


            .logoContainer {
                img {
                    height: 80px;
                    margin: 2em 0 0 3em;
                }

                .logoLine {
                    width: 100px;
                    height: 1px;
                    background-color: var(--lightColor);
                    transform: rotate(90deg);
                    position: relative;
                    top: 55px;
                    left: 44px;
                    opacity: .8;

                    span {
                        font-weight: 400;
                        font-size: .7em;
                        position: relative;
                        display: block;
                        left: 70px;
                        bottom: 6px;
                        width: 130px;
                        color: var(--lightColor);
                        transform: rotate(180deg);
                    }
                }
            }

            .ctaBtn {
                button {
                    position: absolute;
                    right: 12em;
                    top: 4.5em;
                    background-color: transparent;
                    border: none;
                    color: var(--lightColor);
                    text-transform: uppercase;
                    cursor: pointer;
                    font-size: 13.3px;
                }

                .ctaLine {
                    position: absolute;
                    right: 10.2em;
                    top: 5em;
                    width: 5em;
                    height: 1px;
                    background-color: var(--lightColor);
                }
            }
        }

        /* SECTION ONE */
        .section1 {
            width: 100%;
            height: 90vh;
            margin-bottom: 250px;
            position: relative;
            z-index: 2;

            .bcgStructureOne {
                position: absolute;

                img {
                    z-index: 1;
                    max-width: 100vw;
                }
            }

            .socialsContainer {
                position: absolute;
                bottom: 4em;
                left: 2.3em;
                display: flex;
                flex-direction: column;

                ul {
                    list-style: none;
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    li a .fas,
                    li a .fab {
                        font-size: 1.3em;
                        margin-bottom: 1em;
                    }

                    a {
                        color: var(--lightColor);
                    }

                    li {
                        position: relative;
                        margin: 0 10px;
                        cursor: pointer;

                        a .fas:hover,
                        a .fab:hover {
                            opacity: 0;
                            transition: opacity 0.6s ease-in;
                        }

                        &:before {
                            position: absolute;
                            font-family: FontAwesome;
                            top: 0;
                            left: 0;
                            font-size: 1.3em;
                            width: 100%;
                            height: 0;
                            overflow: hidden;
                            transition: 0.6s ease-in-out;
                        }

                        &:nth-child(1)::before {
                            content: "\f1fa";
                            color: var(--accentColor);
                        }

                        &:nth-child(2)::before {
                            content: "\f0e1";
                            color: var(--accentColor);
                        }

                        &:nth-child(3)::before {
                            content: "\f4f9";
                            color: var(--accentColor);
                        }

                        &:hover:before {
                            height: 110%;
                        }
                    }
                }
            }

            .heroWrapper {

                .heroText {
                    position: absolute;
                    left: 15%;
                    top: 100px;
                    font-size: 2.2vw;
                    color: var(--lightColor);


                    p {
                        font-size: .8vw;
                        letter-spacing: 0;
                        color: var(--accentColor);
                        text-transform: uppercase;
                        margin: 0;
                        font-weight: 700;
                        letter-spacing: .2em;
                        opacity: .8;
                    }

                    h2 {
                        margin: 40px 0 10px 100px;
                        font-weight: 700;
                        line-height: 1em;
                    }

                    h1 {
                        margin: 30px 0 0 100px;
                        font-size: .99vw;
                        font-weight: 200;
                        line-height: 1.3em;
                    }

                    .line {
                        width: 75%;
                        margin: auto;
                        height: 3px;
                        background: var(--lightColor);
                        opacity: .04;
                        border-radius: 5px;
                        margin: 20px 0 0 100px;
                    }

                    button {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        outline: none;
                        border: 0;
                        vertical-align: middle;
                        text-decoration: none;
                        background: transparent;
                        padding: 0;
                        width: 18rem;
                        height: auto;
                        top: 50px;
                        left: 100px;

                        #letterPO {
                            color: var(--darkColor);
                        }

                        .submitCircle {
                            transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                            position: relative;
                            display: block;
                            margin: 0;
                            width: 3rem;
                            height: 3rem;
                            background-color: var(--accentColor);
                            border-radius: 1.625rem;
                        }

                        .buttonText {
                            transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                            position: absolute;
                            top: -5px;
                            right: 117px;
                            bottom: 0;
                            padding: 0.75rem 0;
                            margin: 0 0 0 1.85rem;
                            color: #fff;
                            line-height: 1.6;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 1.7em;
                            letter-spacing: .1em;
                            font-weight: 800;
                            font-family: var(--mainFont);
                        }

                        &:hover {
                            .submitCircle {
                                width: 62%;

                                .icon {
                                    &.arrow {
                                        background: #242424;
                                        transform: translate(1rem, 0);
                                    }
                                }
                            }

                            .buttonText {
                                color: #242424;
                            }
                        }
                    }
                }

                .scrollIndicator {
                    opacity: 0;
                    display: none;

                    .mobileScrollText {
                        opacity: 0;
                        display: none;
                    }
                }
            }
        }

        .section2 {
            max-width: 1500px;
            margin: auto auto 250px auto;
            position: relative;
            z-index: 3;

            .headline {

                h1 {
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                }
            }

            .serviceItemWrapper {
                //margin: auto;

                .line {
                    width: 70%;
                    margin: auto;
                    height: 3px;
                    background: var(--lightColor);
                    opacity: .1;
                    border-radius: 5px;
                }

                .serviceItem {
                    display: flex;
                    padding: 2em 4em;
                    justify-content: center;

                    .serviceCircle {
                        margin-top: auto;
                        margin-bottom: auto;
                        padding-right: 5em;

                        img {
                            height: 110px;
                            //width: 100%;
                            width: auto;
                            object-fit: cover;
                        }

                        .serviceImgsmaller {
                            height: 100px;
                        }
                    }

                    .serviceItemDescription {
                        color: var(--lightColor);
                        font-size: 1em;
                        width: 60%;
                        font-weight: 200;

                        span {
                            font-size: 1.3em;
                            font-weight: 400;
                            color: rgba(248, 248, 248, 0.89);
                        }

                        .accent {
                            color: var(--accentColor);
                            font-size: 1.8em;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .section3 {
            max-width: 1000px;
            margin: auto;
            position: relative;

            .headline {
                margin-bottom: 80px;
                -webkit-backface-visibility: hidden;

                h1 {
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                    margin: 0;
                }
            }

            .portfolioGridWrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: .2em;

                .flipContent {
                    transition: transform 3s;
                    transform-style: preserve-3d;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        transform: rotatey(.5turn);
                    }

                    .flipFront,
                    .flipBack {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        -moz-backface-visibility: hidden;
                        transform-style: preserve-3d;
                    }



                    .flipFront {
                        position: relative;
                        background-color: #DCD9D4;
                        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
                            radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
                        background-blend-mode: soft-light,
                            screen;

                        .headline {
                            position: absolute;
                            left: 50%;
                            top: 15%;
                            transform: translate(-50%, -50%);
                            color: var(--darkColor);


                            h1 {
                                font-size: 1.3em;
                                margin: 0;
                                color: var(--darkColor);
                                opacity: .9;
                            }

                            p {
                                margin: 0;
                                font-size: .8em;
                                width: 300px;
                                text-align: center;
                                transform: translateZ(3rem);
                                opacity: .7;
                            }
                        }

                        img {
                            transform: translateZ(3rem);
                            max-width: 100%;
                            position: relative;
                            top: 10px;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 1em;
                            right: 1em;
                            bottom: 1em;
                            left: 1em;
                        }
                    }

                    .flipBack {
                        transform: rotatey(.5turn);
                        background-color: #dfdfdf;
                        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
                            radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
                        background-blend-mode: soft-light,
                            screen;
                        text-align: center;

                        /*HELPER CLASSES*/
                        .pf-smallSlogo {
                            max-width: 20%;
                        }

                        .pf-biggerLogo {
                            max-width: 35%;
                        }

                        .kieningerMarginImg {
                            margin-top: 30px;
                        }

                        /****************/

                        img {
                            margin-top: 20px;
                            max-width: 25%;
                            transform: translateZ(3em);
                            backface-visibility: hidden;
                            -webkit-backface-visibility: hidden;
                            -moz-backface-visibility: hidden;
                        }

                        .line {
                            width: 90%;
                            height: 1px;
                            background-color: #cecece;
                            margin: 10px auto;
                        }

                        .projectDescription {
                            width: 90%;
                            margin: 30px auto;
                            padding: 0;
                            list-style: none;
                            color: var(--darkColor);
                            transform: translateZ(3em);


                            .project {
                                text-align: left;
                                position: relative;

                                span {
                                    transform: translateZ(3em);
                                }

                                span:nth-child(1) {
                                    font-weight: lighter;
                                }

                                span:nth-child(2) {
                                    font-weight: bold;
                                }

                                span:nth-child(3) {
                                    position: absolute;
                                    left: 113px;
                                    top: -9px;
                                    text-align: left;
                                    max-width: 225px;
                                    font-size: .65em;
                                }

                            }

                            .skills {
                                text-align: left;
                                margin-top: 40px;
                                position: relative;
                                //float: left;

                                span:nth-child(1) {
                                    font-weight: lighter;
                                }

                                span:nth-child(2) {
                                    font-weight: bold;
                                }

                                span:nth-child(3) {
                                    position: absolute;
                                    left: 113px;
                                    top: -9px;
                                    text-align: left;
                                    max-width: 225px;
                                    font-size: .65em;
                                }

                            }

                            .team {
                                text-align: left;
                                margin-top: 40px;
                                position: relative;
                                //float: left;

                                span:nth-child(1) {
                                    font-weight: lighter;
                                }

                                span:nth-child(2) {
                                    font-weight: bold;
                                }

                                span:nth-child(3) {
                                    position: absolute;
                                    left: 113px;
                                    top: -3px;
                                    text-align: left;
                                    max-width: 225px;
                                    font-size: .65em;
                                }

                            }

                        }

                        button {
                            position: relative;
                            display: inline-block;
                            cursor: pointer;
                            outline: none;
                            border: 0;
                            vertical-align: middle;
                            text-decoration: none;
                            background: transparent;
                            padding: 0;
                            font-size: inherit;
                            font-weight: bold;
                            width: 18rem;
                            height: auto;
                            left: 50px;
                            top: 10px;
                            transform: translateZ(3em);

                            .submitCircle {
                                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                                position: relative;
                                display: block;
                                margin: 0;
                                width: 2rem;
                                height: 2rem;
                                background: var(--lightColor);
                                border-radius: 1.625rem;

                                span {
                                    font-size: .9rem;
                                    position: absolute;
                                    left: 10px;
                                    top: 8px;
                                    color: var(--darkColor);
                                    opacity: .8;
                                }
                            }


                            .buttonText {
                                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                                position: absolute;
                                top: 0;
                                left: 20px;
                                bottom: 0;
                                padding: 0.50rem 0;
                                margin: 0 0 0 1.85rem;
                                color: var(--darkColor);
                                font-size: .9em;
                                opacity: .9;
                            }

                            &:hover {
                                .submitCircle {
                                    width: 75%;
                                }

                                .buttonText {
                                    color: #242424;
                                    opacity: 1;
                                }
                            }
                        }

                        .no-team {
                            padding-top: 20px;

                            .skills {
                                padding-bottom: 10px;

                                span:nth-child(3) {
                                    top: -3px;
                                }
                            }
                        }
                    }

                    .flipBack.newProject {
                        color: var(--darkColor);
                        font-weight: bold;

                        p {
                            max-width: 85%;
                            margin: 100px auto;
                            transform: translateZ(3em);
                            opacity: .9;
                        }

                        button {
                            left: 20px;
                            top: -50px;

                            .submitCircle {
                                background: var(--accentColor);
                            }

                            &:hover {

                                .submitCircle {
                                    width: 92%;
                                }
                            }
                        }
                    }
                }
            }

            .portfolioGridWrapperMobile {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: .2em;
                display: none;

                .flipContentMobile {
                    width: 100%;
                    height: 100%;

                    .flipFrontMobile {
                        position: relative;
                        background-color: #DCD9D4;
                        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
                            radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
                        background-blend-mode: soft-light,
                            screen;

                        .headlineMobile {
                            position: absolute;
                            left: 50%;
                            top: 15%;
                            transform: translate(-50%, -50%);
                            color: var(--darkColor);


                            h1 {
                                font-size: 1.3em;
                                margin: 0;
                                color: var(--darkColor);
                                opacity: .9;
                                text-align: center;
                            }

                            p {
                                margin: 0;
                                font-size: .8em;
                                width: 300px;
                                text-align: center;
                                opacity: .7;
                            }
                        }

                        img {
                            max-width: 100%;
                            position: relative;
                            top: 10px;
                        }
                    }
                }
            }
        }

        .section4 {
            max-width: 1500px;
            margin: -80px auto 800px auto;
            //overflow: hidden;


            .bcgStructureTwo {
                position: absolute;
                z-index: 1;
                max-width: 100%;

                img {
                    max-width: 90%;
                }
            }

            .testimonialsWrapper {
                margin-top: 400px;
                position: relative;

                .subtitle {
                    text-align: center;
                    color: var(--lightColor);
                    font-size: 1vw;
                    font-weight: 100;
                }

                .headline {
                    margin: 0;
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                }

                .testimonial {
                    position: absolute;
                    top: 350px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;

                    .logoCircle {
                        width: 13vw;
                        height: 13vw;
                        border-radius: 50%;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--lightColor);

                        img {
                            width: 10vw;
                            background-size: cover;
                        }

                        img.logoSize {
                            margin-right: 15px
                        }
                    }

                    .testimonialCompany {
                        margin: 1.5em 0 .5em 0;
                        text-align: center;
                        font-size: 1.9vw;
                        font-weight: bold;
                        color: var(--accentColor);
                    }

                    .testimonialDescription {
                        text-align: center;
                        max-width: 600px;
                        font-size: .9vw;
                        margin: auto;
                        color: var(--lightColor);
                    }

                    .testimonialDescriptionLarge {
                        max-width: 765px;
                        width: 765px;
                    }
                }

                .btnWrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    top: 550px;
                    right: 12px;

                    .left,
                    .right {
                        position: relative;
                        z-index: 3;
                        height: 5vh;
                    }


                    .right {
                        margin-left: 2em;

                        .circle {
                            position: absolute;
                            border: 2px solid var(--lightColor);
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            transition: all 0.3s ease-in-out;

                            #btnContainer {
                                width: 100%;
                                cursor: pointer;
                                position: absolute;

                                .arrow {
                                    position: absolute;
                                    bottom: 0;
                                    margin-left: -1px;
                                    width: 12px;
                                    height: 12px;
                                    background-size: contain;
                                    top: 9px;
                                    left: 30%;
                                }

                                .second {
                                    margin-left: 8px;
                                }

                                .next {
                                    background-image: url("/src/assets/arrows/rightArrow.png");
                                }

                                .arrowAnimationRight {
                                    animation-name: arrowAnimationRight;
                                    animation-duration: 1.4s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }

                                .arrow.first.arrowAnimationRight {
                                    animation-name: arrowAnimationRight;
                                    animation-duration: 1.4s;
                                    animation-delay: 0.2s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }
                            }

                            &:hover {
                                //background: var(--darkColor);
                                transition: all 0.3s ease-in-out;

                                .arrow {
                                    animation-name: arrowAnimationRight;
                                    animation-duration: 1.4s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }

                                .arrow.first {
                                    animation-name: arrowAnimationRight;
                                    animation-duration: 1.4s;
                                    animation-delay: 0.2s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }
                            }
                        }
                    }

                    .left {
                        margin-right: 2em;

                        .circle {
                            position: absolute;
                            border: 2px solid var(--lightColor);
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            transition: all 0.3s ease-in-out;

                            #btnContainer {
                                width: 100%;
                                cursor: pointer;
                                position: absolute;

                                .arrow {
                                    position: absolute;
                                    bottom: 0;
                                    margin-left: -1px;
                                    width: 12px;
                                    height: 12px;
                                    background-size: contain;
                                    top: 9px;
                                    left: 38%;
                                }

                                .second {
                                    margin-left: -10px;
                                }

                                .next {
                                    background-image: url("/src/assets/arrows/leftArrow.png");
                                }

                                .arrowAnimationLeft {
                                    animation-name: arrowAnimationLeft;
                                    animation-duration: 1.4s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }

                                .arrow.first.arrowAnimationLeft {
                                    animation-name: arrowAnimationLeft;
                                    animation-duration: 1.4s;
                                    animation-delay: 0.2s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }
                            }

                            &:hover {
                                //background: var(--darkColor);
                                transition: all 0.3s ease-in-out;

                                .arrow {
                                    animation-name: arrowAnimationLeft;
                                    animation-duration: 1.4s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }

                                .arrow.first {
                                    animation-name: arrowAnimationLeft;
                                    animation-duration: 1.4s;
                                    animation-delay: 0.2s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section5 {
            position: relative;
            z-index: 3;

            .contactFormWrapper {
                max-width: 1200px;
                margin: 300px auto 80px auto;


                .subtitle {
                    text-align: center;
                    color: var(--lightColor);
                    font-size: 1vw;
                    font-weight: 100;
                }

                .headline {
                    margin: 0;
                    font-size: 3vw;
                    color: var(--lightColor);
                    font-weight: bold;
                    text-align: center;
                }

                .contactForm {
                    margin-top: 100px;

                    form {
                        display: grid;
                        grid-template-areas:
                            "name company mail"
                            "radioBtn message messageEnd"
                            "empty1 privacyText privacyText"
                            "empty3 btn empty4";
                        grid-template-columns: repeat(3, 1fr);

                        .calendlyWrapper {
                            width: 150px;
                            display: flex;
                            padding: 0em .9em;
                            border: 1px solid var(--accentColor);
                            margin: 10px 0 0 15px;
                            border-radius: 10px;
                            text-decoration: none;

                            img {
                                height: 70%;
                                margin: auto;
                            }

                            #calendly {
                                color: #fff;
                                font-weight: 700;
                                text-transform: uppercase;
                                padding-left: 1em;
                                letter-spacing: .05em;
                                margin: auto 0;
                            }
                        }
                    }

                    #formName {
                        grid-area: name;
                    }

                    #formCompany {
                        grid-area: company;
                    }

                    #formMail {
                        grid-area: mail;
                    }

                    #messageWrapper {
                        grid-column-start: message;
                        grid-column-end: messageEnd;
                        margin-top: 3em;
                    }

                    fieldset {
                        grid-area: radioBtn;
                    }

                    .privacyCheckboxWrapper {
                        grid-area: privacyText;
                        margin-top: -30px;
                        color: var(--lightColor);
                        max-width: 90%;
                        font-size: .8em;

                        input {
                            padding-bottom: 20px;
                        }

                        label {
                            position: absolute;
                            max-width: 35%;
                            padding-left: 10px;
                            margin-top: 30px;
                        }
                    }

                    #formBtn {
                        grid-area: btn;
                        margin-top: 75px;

                        button {
                            position: relative;
                            display: inline-block;
                            cursor: pointer;
                            outline: none;
                            border: 0;
                            vertical-align: middle;
                            text-decoration: none;
                            background: transparent;
                            padding: 0;
                            font-size: inherit;
                            font-weight: bold;
                            width: 18rem;
                            height: auto;

                            .submitCircle {
                                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                                position: relative;
                                display: block;
                                margin: 0;
                                width: 3rem;
                                height: 3rem;
                                background: var(--accentColor);
                                border-radius: 1.625rem;

                                span {
                                    font-size: 1.3rem;
                                    position: absolute;
                                    left: 12px;
                                    top: 12px;
                                    color: var(--darkColor);
                                }
                            }

                            .icon {
                                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                            }

                            .buttonText {
                                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                                position: absolute;
                                top: 0;
                                left: 10px;
                                right: 20px;
                                bottom: 0;
                                padding: 0.75rem 0;
                                margin: 0 0 0 1.85rem;
                                color: #fff;
                                line-height: 1.6;
                                text-align: center;
                                text-transform: uppercase;
                            }

                            &:hover {
                                .submitCircle {
                                    width: 100%;

                                    .icon {
                                        &.arrow {
                                            background: #242424;
                                            transform: translate(1rem, 0);
                                        }
                                    }
                                }

                                .buttonText {
                                    color: #242424;
                                }
                            }
                        }
                    }

                    .labelAbove,
                    .labelAbove input,
                    .labelAbove textarea {
                        display: block;
                        color: var(--lightColor);
                        font-family: var(--mainFont);
                        font-weight: bold;
                    }

                    input[type="text"],
                    input[type="email"] {
                        background: transparent;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-bottom: .5px solid var(--accentColor);
                        width: 80%;
                        height: 30px;
                    }

                    input[type="radio"] {
                        cursor: pointer;
                    }

                    #formMessage {
                        width: 90%;
                        height: 20vh;
                        color: #3d3d3d;
                        margin-top: 1em;
                    }

                    fieldset {
                        border: none;
                        color: var(--lightColor);
                        width: 280px;

                        legend {
                            padding-top: 50px;
                            font-size: .8vw;
                            font-weight: bold;
                        }

                        label {
                            font-size: .7vw;
                            font-weight: 200;
                        }
                    }
                }
            }

            .goBack {
                position: absolute;
                right: 30px;
                bottom: -50px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgba(17, 17, 17, 0.555);
                opacity: 0;
                cursor: pointer;

                i {
                    color: white;
                    font-size: 1.5em;
                    line-height: 50px;
                    display: flex;
                    justify-content: center;
                    opacity: .5;
                }
            }
        }

        .footerWrapper {
            background: rgba(17, 17, 17, 0.555);

            .footerMobile {
                display: none;
            }

            .footerInnerContent {
                display: block;
            }

            .footerInnerContent {
                display: grid;
                align-items: center;
                grid-template-areas: "imprint contact socials";
                max-width: 95%;
                margin: auto;
                min-height: 50px;

                .footerSocials {
                    grid-area: socials;

                    a {
                        cursor: pointer;
                        color: var(--lightColor);
                        padding-right: 1.5em;
                        font-size: 1.2em;
                        float: right;
                    }
                }

                .privacyImprint {
                    grid-area: imprint;
                    color: var(--lightColor);
                    font-weight: lighter;
                    font-size: .7em;
                    opacity: .6;
                    text-transform: uppercase;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }

                    p {
                        display: inline-flex;
                        flex-direction: column;
                        padding-right: 1em;
                        cursor: pointer;
                    }

                }

                .contactItems {
                    grid-area: contact;
                    justify-self: center;

                    a:hover {
                        /*                i {
                            color: var(--accentColor);
                        } */

                        span:after {
                            transform: scaleX(1);
                            transform-origin: 0% 50%;
                        }
                    }

                    i {
                        color: var(--lightColor);
                        transition: .3s;

                        span {
                            font-family: var(--mainFont);
                            font-weight: 400;
                            margin-left: .5em;
                            color: var(--lightColor);

                            &:after {
                                display: block;
                                content: '';
                                border-bottom: .5px solid var(--accentColor);
                                transform: scaleX(0);
                                transition: transform 250ms ease-in-out;
                            }
                        }
                    }

                    .fa-at {
                        margin-left: 3em;
                    }
                }
            }
        }
    }
}