/* MEDIA QUERYS */

/* LAPTOP */
@media (min-width: 1025px) and (max-width: 1440px) {

    .heroText {
        top: 50px !important;
    }

    .menuFlexContainer, .officeFlexContainer {
        margin-top: 2vw;
    }

    .serviceCircle img {
        height: 80px !important;
    }

    .testimonial .logoCircle {
        width: 18vw !important;
        height: 18vw !important;
    }

    .testimonialsWrapper .testimonial {
        top: 340px !important;
    }

    .testimonial .testimonialCompany {
        font-size: 2.5vw !important;
    }
    .testimonial .testimonialDescription {
        font-size: 1.3vw !important;
    }

}