/* MEDIA QUERYS */
/* LAPTOP */
body {
  @media (min-width: 1200px) and (max-width: 1440px) {
    .cookieConsent img {
      bottom: 40px;
    }

    .wrapper .section1 .heroWrapper .heroText {
      top: 50px;

      h1 {
        font-weight: 400;
      }
    }

    .menuFlexContainer,
    .officeFlexContainer {
      margin-top: 2vw;
    }

    .wrapper .section2 .serviceItemWrapper .serviceItem .serviceCircle img {
      height: 80px;
    }

    .wrapper .section4 .testimonialsWrapper .testimonial {
      top: 340px;

      .testimonialDescription {
        font-size: 1.3vw;
      }

      .testimonialCompany {
        font-size: 2.5vw;
      }

      .logoCircle {
        width: 18vw;
        height: 18vw;
      }
    }

    .portfolioGridWrapper {
      max-width: 85%;
      margin: auto;
    }

    .wrapper .section3 .portfolioGridWrapper .flipContent .flipBack button {
      display: none;
    }

    .wrapper .section5 .contactFormWrapper .contactForm fieldset label {
      font-size: 1vw;
    }

    .wrapper .section5 .contactFormWrapper .contactForm fieldset legend {
      font-size: 1.2vw;
      line-height: 25px;
    }

    .wrapper .section5 .contactFormWrapper .contactForm form .calendlyWrapper {
      margin-top: 20px;
    }
  }

  /* TABLET */
  @media (min-width: 768px) and (max-width: 1199px) {
    .cookieConsent {
      height: 60px;

      button {
        font-size: 0.9em;
      }

      img {
        bottom: 25px;
      }
    }

    .wrapper nav {
      .ctaBtn {
        button {
          font-size: 13px;
          right: 11.8em;
          top: 4em;
        }

        .ctaLine {
          width: 5.5em;
        }
      }
    }

    .wrapper {
      overflow: hidden;
    }

    .wrapper .section1 {
      .heroWrapper {
        position: relative;
        left: 5%;
        bottom: 3%;

        .heroText {
          p {
            font-size: 1vw;
          }

          h2 {
            font-size: 1.7em;
          }

          h1 {
            font-size: 1.2vw;
            font-weight: 400;
          }

          button .buttonText {
            right: 137px;
          }
        }
      }

      .socialsContainer {
        bottom: 8em;
      }
    }

    .wrapper .section2 {
      .headline {
        h1 {
          font-size: 4vw;
        }
      }

      .serviceItemWrapper {
        .serviceItem {
          padding: 1em 2em;

          .serviceItemDescription {
            font-weight: 300;

            span {
              color: #fff;
            }
          }

          .serviceCircle {
            img {
              transform: scale(0.8);
            }

            .serviceImgsmaller {
              transform: scale(0.7);
            }
          }
        }
      }
    }

    .wrapper .section3 {
      max-width: 1200px;

      .headline {
        h1 {
          font-size: 4vw;
        }
      }

      .portfolioGridWrapperMobile {
        display: grid;
        width: 78%;
        margin: auto;
      }

      .portfolioGridWrapper {
        display: none;
      }

      .portfolioGridWrapperMobile
        .flipContentMobile
        .flipFrontMobile
        .headlineMobile
        h1 {
        font-size: 1em;
      }
    }

    .wrapper .section4 {
      .testimonialsWrapper {
        .headline {
          font-size: 4vw;
        }

        .testimonial {
          top: 330px;

          .logoCircle {
            height: 23vw;
            width: 23vw;

            img {
              width: 20vw;
            }
          }

          .testimonialCompany {
            font-size: 2.8vw;
          }

          .testimonialDescription {
            font-size: 1.5vw;
          }
        }
      }
    }

    .wrapper .section5 {
      .contactFormWrapper {
        max-width: 1000px;

        .headline {
          font-size: 4vw;
        }

        .contactForm .privacyCheckboxWrapper {
          margin-top: -100px;
        }

        .contactForm fieldset {
          legend {
            font-size: 2.3vw;
          }

          label {
            font-size: 1.3vw;
          }
        }
      }

      .contactFormWrapper .contactForm form .calendlyWrapper {
        padding: 0.4em 1em;
        margin-top: 20px;

        img {
          width: 28%;
        }
      }
    }
  }

  /* TABLET PORTRAIT */
  @media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
    .animationBcg {
      .startAnimationWrapper {
        svg {
          width: 300px;
        }
      }
    }

    .wrapper .section1 {
      margin-bottom: 100px;
      height: 60vh;

      .heroWrapper {
        .heroText {
          p {
            font-size: 1.5vw;
          }

          h2 {
            font-size: 2.2em;
          }

          h1 {
            font-size: 1.5vw;
          }
        }
      }
    }

    .wrapper .section2 {
      margin-bottom: 200px;

      .headline {
        h1 {
          font-size: 3.5em;
        }
      }

      .serviceItemWrapper {
        .serviceItem {
          .serviceCircle {
            img {
              height: 100px;
              width: 100px;
              padding-right: 3em;
            }

            .serviceImgsmaller {
              height: 90px;
              width: 90px;
              padding-right: 3em;
            }
          }
        }
      }
    }

    .wrapper .section3 {
      .headline {
        h1 {
          font-size: 3.5em;
        }
      }

      .portfolioGridWrapperMobile {
        width: 100%;
      }
    }

    .wrapper .section4 {
      .testimonialsWrapper {
        .headline {
          font-size: 3.5em;
        }

        .testimonial {
          .logoCircle {
            width: 300px;
            height: 300px;
          }

          .testimonialCompany {
            font-size: 2.3em;
          }

          .testimonialDescription {
            font-size: 2.3vw;
            width: 1000px;
          }
        }

        .btnWrapper {
          top: 570px;
        }
      }
    }

    .wrapper .section5 {
      .contactFormWrapper {
        max-width: 90vw;

        .headline {
          font-size: 3.5em;
        }

        .contactForm .privacyCheckboxWrapper {
          margin-top: -10px;
          margin-bottom: 40px;
        }
      }
    }
  }

  /* MOBILE */
  @media (max-width: 767px) {
    .cookieConsent {
      height: 140px;

      img {
        float: none;
        display: block;
        margin: auto;
        top: -50px;
        width: 20%;
      }

      p {
        left: 0;
        bottom: 60px;

        button {
          position: static;
          margin-top: 15px;
          font-size: 1em;
          font-weight: 700;
        }
      }
    }

    .menuOverlay {
      flex-direction: column;

      .menuSlideOne,
      .menuSlideTwo {
        .menuFlexContainer h1 {
          font-size: 4vw;
          position: relative;
          left: -30px;
          top: 10px;
        }
      }

      .menuSlideOne {
        width: 100%;
        height: 60%;
        padding-top: 100px;
        padding-left: 15px;

        img {
          height: 50px;
          margin: 0;
          top: 45px;
          left: 20px;
        }

        .menuFlexContainer ul {
          position: relative;
          left: -30px;
          font-size: 8vw;
        }
      }

      .menuSlideTwo {
        width: 100%;
        height: 40%;

        .officeFlexContainer h1 {
          padding: 40px 0 0 0;
          font-size: 4vw;
        }

        .officeFlexContainer .menuProjectsSlider {
          max-width: 45vw;
        }
      }
    }

    .burgerMenuWrapper {
      position: absolute;

      .burgerMenu {
        padding-top: 37px;

        svg {
          height: 70px;
        }
      }
    }

    .animationBcg {
      .startAnimationWrapper svg {
        width: 45vw;
      }
    }

    .wrapper header {
      nav {
        .logoContainer {
          img {
            height: 60px;
            margin: 2.7em 0 0 2em;
          }

          .logoLine {
            display: none;
            visibility: hidden;
          }
        }

        .ctaBtn {
          display: none;
          visibility: hidden;
        }
      }
    }

    .wrapper .section1 {
      margin-bottom: 0px;

      .socialsContainer {
        display: none;
      }

      .heroWrapper {
        .scrollIndicator {
          opacity: 1;
          display: block;
          width: 40%;
          position: absolute;
          top: 75%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .heroText {
          left: 12%;

          .line {
            display: none;
          }

          p {
            font-size: 2.5vw;
          }

          h2 {
            font-size: 3.5em;
            margin-left: 0px;
          }

          h1 {
            opacity: 0;
          }
        }

        .heroText button {
          left: 0px;
          top: 15px;

          .submitCircle {
            width: 62%;
            border-radius: 3px;
            pointer-events: none;
          }

          .buttonText {
            color: #1f1f1f;
            font-size: 18px;
            left: -17px;
            top: -2px;
          }
        }
      }
    }

    .wrapper .section2 {
      .headline {
        margin-bottom: 70px;

        h1 {
          font-size: 10vw;
        }
      }

      .serviceItemWrapper {
        .line {
          width: 90%;
        }

        .serviceItem {
          padding: 0;
          display: block;
          margin: 40px 0 40px 0;

          .serviceCircle {
            display: none;
          }

          .serviceItemDescription {
            margin: auto;
            width: 80%;

            p {
              font-size: 1.2em;
              color: rgba(255, 255, 255, 0.679);
              color: #fff;
              font-weight: 400;

              .accent {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }

    .wrapper .section3 {
      .headline {
        h1 {
          font-size: 10vw;
        }
      }

      .portfolioGridWrapperMobile {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        width: 90%;
        margin: auto;
      }

      .portfolioGridWrapper {
        display: none;
      }
    }

    .wrapper .section4 {
      margin: -150px 0 700px 0;

      .testimonialsWrapper {
        .headline {
          font-size: 10vw;
        }

        .testimonial {
          top: 280px;

          .logoCircle {
            width: 200px;
            height: 200px;

            img {
              width: 150px;
            }
          }

          .testimonialCompany {
            font-size: 6vw;
          }

          .testimonialDescription {
            font-size: 4vw;
            width: 300px;
          }
        }

        .btnWrapper {
          top: 480px;
        }
      }
    }

    .wrapper .section5 {

      .contactFormWrapper {
        .headline {
          font-size: 10vw;
        }

        .contactForm {
          #formBtn {
            margin: 0;
          }

          form {
            display: block;
            margin: auto;
            max-width: 90%;

            .formInputMobile {
              margin-left: 1em;
              max-width: 90vw;
            }

            p {
              width: 95vw;
            }

            legend {
              font-size: 6vw;
            }

            fieldset {
              border: 1px solid #fff;
              margin-top: 30px;

              label {
                font-size: 5vw;
              }

              p {
                padding-top: 1em;
                max-width: 80vw;
              }
            }

            input[type="text"],
            input[type="email"] {
              border-bottom: 1px solid #ffcd48;
            }
          }

          .privacyCheckboxWrapper:first-child {
            max-width: 95vw;
          }

          .privacyCheckboxWrapper {
            margin: 10px 0 30px 0;

            label {
              max-width: 80%;
            }
          }

          #formBtn {
            button {
              position: relative;
              top: 66px;

              .submitCircle {
                width: 90%;
                border-radius: 3px;
                pointer-events: none;
                margin-bottom: 20px;
              }

              .buttonText {
                left: -5px;
                color: #1f1f1f;
              }
            }
          }
        }
      }

      .goBack {
        i {
          opacity: 1;
        }
      }

      .contactFormWrapper .contactForm form .calendlyWrapper {
        margin: 170px 0 0 0;
        padding: 0.4em 1em;
        width: 175px;
      }
    }

    .wrapper footer {
      .footerWrapper {
        .footerInnerContent {
          display: none;
        }

        .footerMobile {
          display: block;
          text-decoration: none;
          color: #fff;
          text-align: center;

          .contactItemsMobile {
            div {
              &:first-child {
                padding-top: 30px;
                padding-bottom: 10px;
              }

              a {
                color: #fff;
              }

              i {
                span {
                  font-family: "Montserrat", sans-serif;
                  font-weight: 400;
                  padding-left: 1em;
                }
              }
            }
          }

          .footerSocialsMobile {
            margin-top: 20px;

            a {
              color: #fff;
              font-size: 1.8em;
              padding: 0.5em;
            }
          }

          .privacyImprintMobile {
            display: flex;
            justify-content: center;
            gap: 20px;
            opacity: 0.6;

            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
