/* MEDIA QUERYS */
/* BROWSER SPECIFIC */
/*SAFARI*/
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        body .wrapper nav .ctaBtn button {
            top: 4.3em;
            right: 11.9em;
        }

        .burgerMenuWrapper,
        .menuOverlay {
            transform: translate3d(0, 0, 0) translateZ(1000px);
        }
        .staggerAnimation,
        .animationBcg {
            transform: translate3d(0, 0, 0) translateZ(1001px);
        }

        .menuOverlay {

        }

        .section1 {
            .heroWrapper {
                .buttonText {
                    top: -2px !important;
                    right: 138px !important;
                }

                .heroText button:hover .submitCircle {
                    width: 58% !important;
                }
            }
        }

        .section2 {
            .serviceItemWrapper {
                .serviceItem {
                    .serviceCircle {
                        padding: 0 !important;

                        img {
                            height: 100% !important;
                            width: 55% !important;
                        }

                        .serviceImgsmaller {
                            width: 50% !important;
                        }
                    }
                }
            }
        }
    }
}

/* LAPTOP */
@media (min-width: 1200px) and (max-width: 1440px) {

    .heroText {
        top: 50px !important;

        h1 {
            font-weight: 400 !important;
        }
    }

    .menuFlexContainer,
    .officeFlexContainer {
        margin-top: 2vw;
    }

    .serviceCircle img {
        height: 80px !important;
    }

    .testimonial .logoCircle {
        width: 18vw !important;
        height: 18vw !important;
    }

    .testimonialsWrapper .testimonial {
        top: 340px !important;
    }

    .testimonial .testimonialCompany {
        font-size: 2.5vw !important;
    }

    .testimonial .testimonialDescription {
        font-size: 1.3vw !important;
    }

    .portfolioGridWrapper {
        max-width: 85%;
        margin: auto;
    }

    .section3 .portfolioGridWrapper .flipContent .flipBack button {
        display: none !important;
    }

}

/* TABLET */
@media (min-width: 768px) and (max-width: 1199px) {

    nav {
        .ctaBtn {
            button {
                font-size: 14px;
                right: 14.2em !important;
                top: 3em !important;
            }
        }
    }

    .wrapper {
        overflow: hidden;
    }

    .section1 {
        .heroWrapper {
            position: relative;
            left: 5%;
            bottom: 3%;

            .heroText {
                p {
                    font-size: 1vw !important;
                }

                h2 {
                    font-size: 1.7em !important;
                }

                h1 {
                    font-size: 1.2vw !important;
                    font-weight: 400 !important;
                }

                .buttonText {
                    right: 137px !important;
                }
            }
        }

        .socialsContainer {
            bottom: 7em !important;
        }
    }


    .section2 {
        .serviceItemWrapper {


            .serviceItem {
                padding: 1em 2em;
            }

            .serviceItemDescription {
                font-weight: 300 !important;

                span {
                    color: #fff;
                }
            }
        }

    }

    .section3 {
        .portfolioGridWrapperMobile {
            visibility: visible !important;
            height: 100% !important;
            width: 78%;
            margin: auto;
        }

        .portfolioGridWrapper {
            display: none !important;
        }

        /*  .headlineMobile h1 {
            font-size: 1.1em;
        } */

        .nextProjectMobile h1 {
            font-size: 1em !important;
        }
    }

}